.navbar.loading {
  top: -150px;
}

.navbar {
  position: fixed;
  padding: 5px;
  background-color: #222;
  border-radius: 25px;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  transition: all 800ms cubic-bezier(0.18, 1.63, 0.31, 0.96);
}

.navbar.loading::after {
  opacity: 1;
}

.navbar::after {
  content: '';
  z-index: 19;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #222;
  opacity: 0;
  transition: all 400ms ease-in-out;
  transition-delay: 200ms;
  pointer-events: none;
}

.navbar-hover {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  color: #f1f1f1;
  font-size: 12px;
  font-weight: 600;
  padding: 7px 20px;
  border-radius: 21px;
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 150px;
  max-height: 100px;
  transition: all 800ms cubic-bezier(0.18, 1.63, 0.31, 0.96);
}

.navbar-item:hover {
  background-color: #1a1a1a;
}

.navbar-item.active {
  background-color: #d3d3d3;
}

.navbar.closed .navbar-item {
  padding: 5px;
  max-width: 0;
  max-height: 0;
  transition: all 400ms cubic-bezier(0, 0.8, 0.31, 1.18);
}

.navbar-item a {
  white-space: nowrap;
  transition: all 800ms cubic-bezier(0.18, 1.63, 0.31, 0.96);
  opacity: 1;
}

.navbar.closed .navbar-item a {
  transition: all 400ms cubic-bezier(0, 0.8, 0.31, 1.18);
  opacity: 0;
}
