.section {
	max-width: 1440px;
	margin: 0 auto;
	margin-top: 280px;
}

.title-section {
	font-size: 2.25rem;
	color: #f1f1f1;
	margin: 0;
}

.title-medium {
	font-size: 1.5rem;
	color: #f1f1f1;
	margin: 0;
	margin-bottom: 25px;
}

.desc-medium {
	font-size: 0.75rem;
	color: #d3d3d3;
	margin: 0;
}

.desc {
	font-size: 1rem;
	color: #d3d3d3;
	margin: 0;
}

.desc-small {
	font-size: .7rem;
    font-weight: 500;
    margin: 0;
}

body {
	background-color: #0d0d0d;
	transition: all 800ms cubic-bezier(0.18, 1.63, 0.31, 0.96);
}
